.sc-coordinates-container {
	position: absolute;
	margin-bottom: 0px;
	overflow: auto;
	padding: 5px !important;
	bottom: 0px;
	top: 106px;
	width: 97%;
	color: #5b5b5b;
}

.sc-coordinates-title {
	margin-top: 15px;
	margin-bottom: 0px !important;
}

.sc-coordinates-divider {
	border-bottom: 1px dashed #ddd;
	margin: 5px;
	color: transparent;
	height: 1px;
}

.sc-coordinates-heading {
	padding-bottom: 5px;
	color: #4073c1;
	font-size: 11px;
}

.sc-coordinates-action-bar {
	text-align: right;
	font-size: 11px;
}

.sc-coordinates-row {
	padding-bottom: 2px;
	margin-left: 3px;
}

.sc-coordinates-row:hover {
	background-color: #eaeaea;
}

.sc-coordinates-row label {
	width: 120px;
	display: inline-block;
	font-weight: bold;
	padding-left: 20px;
	font-size: 11px;
}

.sc-coordinates-row span {
	color: #8e8e8e;
	font-size: 11px;
}

.sc-coordinates-input {
	color: #8e8e8e;
	padding: 3px;
	font-size: 12px;
	width: 170px;
	border: 1px solid #ccc;
	padding-left: 5px;
}

.sc-coordinates-input:focus {
	border-color: #4a8ec7;
}

.sc-coordinates-live-label {
	margin-right: 5px;
}
