.sc-coordinates-container{
  position: absolute;
  margin-bottom: 0px;
  overflow: auto;
  padding: 5px !important;
  bottom: 0px;
  top: 106px;
  width: 97%;
  color: #5b5b5b;
}

.sc-coordinates-title {
  margin-top: 18px;
  margin-bottom: 0px !important;
}

.sc-coordinates-divider {
  border-bottom: 1px dashed #DDD;
  margin: 5px;
  color: transparent;
  height: 1px;
}

.sc-coordinates-heading {
  padding-bottom: 5px;
  color: #4073C1;
  font-size: 16px;
}

.sc-coordinates-action-bar{
  text-align:right;
  font-size:16px;
}

.sc-coordinates-row {
  padding-bottom: 2px;
  margin-left: 3px;
}

  .sc-coordinates-row:hover {
      background-color: #EAEAEA;
  }

  .sc-coordinates-row label {
      width: 120px;
      display: inline-block;
      font-weight: bold;
      padding-left: 20px;
      font-size: 16px;
  }

  .sc-coordinates-row span {
      color: #8E8E8E;
      font-size: 16px;
  }

.sc-coordinates-table {
  display: table;
	width: 100%;
}

.sc-coordinates-row {
  display: table-row;
}
.sc-coordinates-heading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.sc-coordinates-cell {
	display: table-cell;
	padding: 3px 10px;
}
.sc-coordinates-input {
  color: #8E8E8E;
  padding: 3px;
  font-size: 16px;
  width: 170px;
  border: 1px solid #CCC;
  padding-left: 5px;
}

.sc-coordinates-input:focus {
    border-color: #4A8EC7;
}
.sc-float-right{
  text-align: right;
}

.sc-coordinates-copy {
    width:97%;
}

.sc-coordinates-copy span {
  padding-left: 20px;
  width: 320px;
  display: inline-flex;
}
.sc-coordinates-copy input {
  width: 275px;
}
.sc-coordinates-copy img {
  padding:10px;
}
.sc-coordinates-copy img:hover {
  cursor: pointer;
}
#sc-copy-format-select {
  display:inline-block;
  width:190px;
}