.container {
  display: block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;
}

.containerCenter {
  text-align: center;
}

.image {
  display: block;
  padding-top: 5px;
}

.imageCenter {
  text-align: center;
  margin: auto;
}

.title {
  font-weight: bold;
}
