.sc-theme-commercial-realestate-search-container {
  padding: 5px;
  color: #666;
}

.sc-theme-commercial-real-estate-view-properties-button {
  min-width: 165px;
  height: 40px;
}

.sc-theme-commercial-real-estate-footer {
  margin-top: 10px;
}

.sc-theme-commercial-real-estate-result-label {
  text-align: center;
  font-size: 16px;
  color: #737373;
  font-family: Arial;
  font-weight: bold;
  margin-left: 15px;
}

.sc-theme-commercial-real-estate-results-container {
  position: absolute;
  top: 175px;
  bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid #ddd;
}

.sc-theme-commercial-realestate-search-back-to-search-icon {
  position: relative;
  top: 6px;
  margin-left: 6px;
  margin-right: 3px;
}

.sc-theme-commercial-real-estate-result-item-container {
  height: 122px;
}

.sc-theme-commercial-real-estate-result-image-container {
  width: 120px;
  float: left;
  text-align: center;
  position: absolute;
}

.sc-theme-commercial-real-estate-result-image {
  min-width: 110px;
  max-width: 110px;
  max-height: 74px;
  border: 1px solid #6ea8cf;
  left: 0;
  min-height: 74px;
}

.sc-theme-commercial-real-estate-result-details-container {
  margin-left: 125px;
  padding-top: 4px;
  min-height: 95px;
}

.sc-theme-commercial-real-estate-result-incentive-image {
  position: absolute;
  z-index: 100;
  padding-top: 97px;
  padding-left: 12px;
}

.sc-theme-commercial-real-estate-action-bar-buttons {
  /* position: relative;
  bottom: 34px;
  right: 6px; */
}

.sc-theme-commercial-real-estate-footer {
  margin-top: 7px;
  font-size: 10px;
  padding: 8px;
  color: #666;
}

.sc-theme-commercial-real-estate-results-footer {
  position: absolute;
  bottom: 5px;
  margin-top: 7px;
  font-size: 10px;
  padding: 8px;
  color: #666;
  border: 1px solid #ddd;
  margin-left: 5px;
  margin-right: 5px;
}
