.sc-lhrs-container{
  position: absolute;
  margin-bottom: 0px;
  overflow: auto;
  padding: 5px !important;
  bottom: 0px;
  top: 106px;
  width: 97%;
  color: #5b5b5b;
}

.sc-lhrs-title {
  margin-top: 18px;
  margin-bottom: 0px !important;
}

.sc-lhrs-divider {
  border-bottom: 1px dashed #DDD;
  margin: 5px;
  color: transparent;
  height: 1px;
}

.sc-lhrs-heading {
  padding-bottom: 5px;
  color: #4073C1;
  font-size: 16px;
}

.sc-lhrs-action-bar{
  text-align:right;
  font-size:16px;
}

.sc-lhrs-row {
  padding-bottom: 2px;
  margin-left: 3px;
}

  .sc-lhrs-row:hover {
      background-color: #EAEAEA;
  }

  .sc-lhrs-row label {
      width: 120px;
      display: inline-block;
      font-weight: bold;
      padding-left: 20px;
      font-size: 16px;
  }
  
  .sc-lhrs-row span {
      color: #8E8E8E;
      font-size: 16px;
      display: inline-block;
      padding:1px;
  }

.sc-lhrs-table {
  display: table;
	width: 100%;
}

.sc-lhrs-row {
  display: table-row;
}
.sc-lhrs-heading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.sc-lhrs-cell {
	display: table-cell;
	padding: 3px 10px;
}
.sc-lhrs-input {
  color: #606060;
  padding: 3px;
  font-size: 16px;
  width: 160px;
  border: 1px solid #606060;
  padding-left: 5px;
}

.sc-lhrs-input:read-only{
  color: #8E8E8E;
  border: 1px solid #CCC;
}

.sc-lhrs-point-switch span{
  color:#FFF;
  text-align: center;
  display: inherit;
  padding-left: inherit;
  width:160px;
}
.sc-lhrs-point-switch span.off{
  margin-left: -130px;
  left:auto;
  right:auto;
  top:auto;
  bottom:auto;
}
.sc-lhrs-point-switch span.on{
  left:auto;
  right:auto;
  top:auto;
  bottom:auto;
}
.sc-lhrs-input-sm {
  width: 50px;
}
.sc-lhrs-input:focus {
    border-color: #4A8EC7;
}
.sc-float-right{
  text-align: right;
}

.sc-lhrs-center{
  text-align: center;
}

#sc-lhrs-action-select {
  width:170px;
}

#sc-lhrs-version-select {
  width:170px;
}