.sc-layers-slider {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 10pt;
  width: 160px;
  margin-left: 5px !important;
}

#sc-toc-list-layers-sortablevirtuallist-virtual-layers {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sc-toc-list-layers-sortablevirtuallist-virtual-layers-listitem {
  min-height: 30px;
  list-style: none;
}

.sc-toc-list-layers-sortablevirtuallist-virtual-layers-listitem.sc-dragged {
  z-index: 4 !important; /*override default z-index to show dragged item above sidebar*/
}
