.nav-container {
  top: 158px;
  /* left: 10px; */
  left: 69px;
  height: 37px;
  width: 37px;
  position: absolute;
  z-index: 2;
}
.nav-container-slidein {
  /* transform: translateX(-375px);
        transition: transform 400ms ease-in; */
  transform: translateX(0px);
  transition: transform 200ms ease-in;
}
.nav-container-slideout {
  /* transform: translateX(0px);
        transition: transform 400ms ease-in; */
  transform: translateX(305px);
  transition: transform 200ms ease-in;
}

.zoomButton {
  width: 30px !important;
  height: 30px !important;
  line-height: 25px !important;
  border-radius: 4px !important;
  color: #5d5d5d !important;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  text-align: center;
  font-family: verdana, helvetica;
  margin-bottom: 5px;
  display:none;
}

.fullExtentButton {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
  border-radius: 100px;
  box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
  background-position: center center;
}

.fullExtentContent {
  width: 30px;
  height: 30px;
  background-image: url(./images/globe-icon.png);
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 100px;
  box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
  background-position: center center;
}

.zoomToCurrentLocationButton {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
    background-position: center center;
}

.zoomToCurrentLocationContent {
  width: 30px;
  height: 30px;
  background-image: url(./images/target.png);
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  border-radius: 100px;
  box-shadow: 0px 0px 5px 0px rgba(80, 80, 80, 0.69);
  background-position: center center;
}

@media only screen and (max-width: 770px) {
  .nav-container {
    top: 61px;
    left: 10px;
    height: 37px;
    width: 37px;
    position: absolute;
  }

  .nav-container-slideout {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    transform: none !important;
  }

  .nav-container-slidein {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    transform: none !important;
  }
}
