.sc-floating-menu-toolbox-menu {
  margin-top: 0px;
  font-size: 10pt;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sc-floating-menu-toolbox-submenu {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 2px !important;
  padding-right: 5px !important;
  /* height: 10px; */
}

.sc-floating-menu-toolbox-menu-item {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 10pt;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.sc-floating-menu-toolbox-menu-container div.rc-menu-submenu-title {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.sc-floating-menu-toolbox-menu-container i {
  right: 5px;
}
.sc-floating-menu-toolbox-menu-icon {
  vertical-align: bottom;
}

.sc-floating-menu-toolbox-menu-label {
  padding-left: 5px;
}

.sc-floating-menu-toolbox-menu-icon-label-container {
  display: inline-block;
}

.sc-floating-menu-toolbox-menu-icon {
  vertical-align: middle;
}
