.sc-tool-search-addresses-container {
  padding: 5px;
  color: #666666;
}

.sc-tool-search-addresses-header {
  font-size: 9pt;
}

.sc-theme-search-addresses-controls {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 145px;
}

.sc-theme-search-addresses-control {
  display: table-cell;
}
.sc-theme-search-addresses-control.label {
  width: 108px;
  font-size: 10pt;
}

.sc-theme-search-addresses-control.input {
  width: 238px;
  font-size: 10pt;
}

.sc-theme-search-addresses-number {
  width: 233px;
  height: 24px;
}

.sc-theme-search-addresses-control-row {
  display: table;
  margin-top: 5px;
}

.sc-theme-search-addresses-button-container {
  float: right;
  height: 34px;
}

.sc-theme-search-addresses-button {
  display: table-cell;
  width: 112px;
  height: 31px;
}

.sc-tool-search-addresses-no-results {
  background-color: #d9edf7;
}

#sc-tool-search-addresses-street-search {
  width: 233px;
  height: 24px;
}

.sc-tool-search-addresses-street-search-menu {
  position: absolute;
  z-index: 9999;
  display: block;
  right: auto;
  float: left;
  background-color: white;
  cursor: pointer;
  top: 30px;
  bottom: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
  max-width: 330px;
  min-width: 330px;
}

.sc-tool-search-addresses-street-search-item {
  font-size: 16px;
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  font-family: Verdana, Arial, sans-serif;
}

.sc-tool-search-addresses-street-search-highlighted {
  font-size: 16px;
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  border: 1px solid #f9c280 !important;
  background-color: #428bca;
  font-family: Verdana, Arial, sans-serif;
}

.sc-tool-search-addresses-item-right {
  display: inline-block;
  margin-left: 5px;
}

.sc-tool-search-addresses-results {
  position: absolute;
  top: 298px;
  bottom: 0px;
  overflow-y: auto;
  width: 97%;
}

.sc-tool-search-addresses-item {
  margin-bottom: 5px;
}

.sc-tool-search-addresses-item:hover {
  background-color: #d9edf7;
}
