.sc-layers-slider {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 10pt;
  width: 160px;
  margin-left: 5px !important;
}

.sc-dragover {
  background-color: blueviolet;
  padding-left: 10px;
}
